.infinite-menu-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.infinite-menu-canvas {
  cursor: grab;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  outline: none;
  background: transparent;
}

.infinite-menu-canvas:active {
  cursor: grabbing;
}
